.list__title {
    text-align: center;
    color: #1f735e;
    font-size: 2rem;
}

.list__container {
    @media all and(min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10%;
    }

    @media all and(min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.form__hint {
    color: #1f735e;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
    }
}